body{
font-family: serif;
text-align : justify;
background-color: white;
}
h1, h2,h3, h4,h5,h6{
font-family: Sans-Serif;
}
h1 {
text-align : center;
}
p{
text-align:justify;
font-family: serif;
}
.toc a{
text-decoration: none;

}
